@import 'constants';

@disclaimer-font-size: 30px;

.welcome {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: @fiasco-blue;
  font-family: @fiasco-font;
}

.disclaimer {
  text-align: center;
  font-size: @disclaimer-font-size;
}
